{"openapi":"3.1.0","info":{"title":"Ravenna API","description":"OpenAPI compliant REST API","version":"1.0.0"},"servers":[{"url":"https://core.ravenna.ai/api"}],"externalDocs":{"url":"https://docs.ravenna.ai/getting-started/introduction"},"paths":{"/access-entitlements":{"get":{"operationId":"accessEntitlement-list","summary":"List access entitlements","tags":["Access Entitlement"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"ids","schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"accessRequestIds","schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"skip","schema":{"anyOf":[{"type":"number","minimum":1},{"type":"null"}]}},{"in":"query","name":"offset","schema":{"anyOf":[{"type":"number","minimum":0},{"type":"null"}]}},{"in":"query","name":"cursor","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"limit","schema":{"anyOf":[{"default":100,"type":"number","minimum":1,"maximum":10000},{"type":"null"}]}},{"in":"query","name":"set","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"sortBy","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"sortDirection","schema":{"anyOf":[{"type":"string","enum":["asc","desc"]},{"type":"null"}]}},{"in":"query","name":"groupBy","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"groupDirection","schema":{"anyOf":[{"type":"string","enum":["asc","desc"]},{"type":"null"}]}},{"in":"query","name":"search","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"workspaceId","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"filters","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"filterGroups","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"accessRequestId":{"anyOf":[{"type":"string"},{"type":"null"}]},"userId":{"type":"string"},"userGroupId":{"anyOf":[{"type":"string"},{"type":"null"}]},"applicationId":{"anyOf":[{"type":"string"},{"type":"null"}]},"status":{"type":"string"},"expiresAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokedByUserId":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokeNote":{"anyOf":[{"type":"string"},{"type":"null"}]},"provisionedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"parentEntitlementId":{"anyOf":[{"type":"string"},{"type":"null"}]},"metadata":{"anyOf":[{"type":"object","properties":{"errorReason":{"type":"string"}},"additionalProperties":false},{"type":"null"}]},"user":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","firstName","lastName","email","image"],"additionalProperties":false},{"type":"null"}]},"revokedByUser":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"}},"required":["id","firstName","lastName","email","image","isBot"],"additionalProperties":false},{"type":"null"}]},"accessRequest":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"ticketId":{"type":"string"},"status":{"type":"string"},"ticket":{"anyOf":[{"type":"object","properties":{"number":{"anyOf":[{"type":"number"},{"type":"null"}]},"queue":{"type":"object","properties":{"prefix":{"type":"string"},"workspace":{"type":"object","properties":{"slug":{"type":"string"}},"required":["slug"],"additionalProperties":false}},"required":["prefix","workspace"],"additionalProperties":false}},"required":["number","queue"],"additionalProperties":false},{"type":"null"}]},"accessLevel":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]}},"required":["id","name","provisioningMethod"],"additionalProperties":false},{"type":"null"}]},"approvedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"rejectedAt":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","ticketId","status","ticket","accessLevel"],"additionalProperties":false},{"type":"null"}]},"application":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"domain":{"anyOf":[{"type":"string"},{"type":"null"}]},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","domain","imageUrl"],"additionalProperties":false},{"type":"null"}]},"userGroup":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false},{"type":"null"}]},"accessLevel":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]}},"required":["id","name","provisioningMethod"],"additionalProperties":false},{"type":"null"}]},"lineage":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"accessRequestId":{"anyOf":[{"type":"string"},{"type":"null"}]},"userId":{"type":"string"},"userGroupId":{"anyOf":[{"type":"string"},{"type":"null"}]},"applicationId":{"anyOf":[{"type":"string"},{"type":"null"}]},"status":{"type":"string"},"expiresAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokedByUserId":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokeNote":{"anyOf":[{"type":"string"},{"type":"null"}]},"provisionedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"parentEntitlementId":{"anyOf":[{"type":"string"},{"type":"null"}]},"metadata":{"anyOf":[{"type":"object","properties":{"errorReason":{"type":"string"}},"additionalProperties":false},{"type":"null"}]},"user":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","firstName","lastName","email","image"],"additionalProperties":false},{"type":"null"}]},"revokedByUser":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"}},"required":["id","firstName","lastName","email","image","isBot"],"additionalProperties":false},{"type":"null"}]},"accessRequest":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"ticketId":{"type":"string"},"status":{"type":"string"},"ticket":{"anyOf":[{"type":"object","properties":{"number":{"anyOf":[{"type":"number"},{"type":"null"}]},"queue":{"type":"object","properties":{"prefix":{"type":"string"},"workspace":{"type":"object","properties":{"slug":{"type":"string"}},"required":["slug"],"additionalProperties":false}},"required":["prefix","workspace"],"additionalProperties":false}},"required":["number","queue"],"additionalProperties":false},{"type":"null"}]},"accessLevel":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]}},"required":["id","name","provisioningMethod"],"additionalProperties":false},{"type":"null"}]},"approvedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"rejectedAt":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","ticketId","status","ticket","accessLevel"],"additionalProperties":false},{"type":"null"}]},"application":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"domain":{"anyOf":[{"type":"string"},{"type":"null"}]},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","domain","imageUrl"],"additionalProperties":false},{"type":"null"}]},"userGroup":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false},{"type":"null"}]},"accessLevel":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]}},"required":["id","name","provisioningMethod"],"additionalProperties":false},{"type":"null"}]}},"required":["id","userId","status","createdAt"],"additionalProperties":false}}},"required":["id","userId","status","createdAt","lineage"],"additionalProperties":false}},"cursor":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["items"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-entitlements/revoke":{"post":{"operationId":"accessEntitlement-revoke","summary":"Revoke access entitlements","tags":["Access Entitlement"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"type":"array","items":{"type":"string"}},"revokeNote":{"type":"string"}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-entitlements/extend":{"post":{"operationId":"accessEntitlement-extend","summary":"Extend access entitlements","tags":["Access Entitlement"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"type":"array","items":{"type":"string"}},"duration":{"type":"number","exclusiveMinimum":0}},"required":["ids","duration"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-entitlements/user-access-overview":{"get":{"operationId":"accessEntitlement-getUserAccessOverview","summary":"Get user access overview","tags":["Access Entitlement"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"userId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"applications":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"details":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessLevels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"policy":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"durationMode":{"type":"string"},"defaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"durationOptions":{"type":"array","items":{"type":"string"}},"requiresApproval":{"type":"boolean"},"requiresBusinessJustification":{"type":"boolean"}},"required":["id","name","durationMode","defaultDuration","durationOptions","requiresApproval","requiresBusinessJustification"],"additionalProperties":false},{"type":"null"}]},"isUserEligible":{"type":"boolean"},"currentAccess":{"anyOf":[{"type":"object","properties":{"status":{"type":"string","enum":["active","processing"]},"firstGrantedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"expiresAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"daysUntilExpiry":{"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["status"],"additionalProperties":false},{"type":"null"}]}},"required":["id","name","isUserEligible"],"additionalProperties":false}}},"required":["id","accessLevels"],"additionalProperties":false}},"summary":{"type":"object","properties":{"totalEligibleApplications":{"type":"number"},"applicationsWithCurrentAccess":{"type":"number"},"accessExpiringWithin7Days":{"type":"number"}},"required":["totalEligibleApplications","applicationsWithCurrentAccess","accessExpiringWithin7Days"],"additionalProperties":false}},"required":["applications","summary"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-entitlements/manual-provision":{"post":{"operationId":"accessEntitlement-manualProvision","summary":"Manually provision entitlements","tags":["Access Entitlement"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"entitlements":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"accessRequestId":{"anyOf":[{"type":"string"},{"type":"null"}]},"userId":{"type":"string"},"userGroupId":{"anyOf":[{"type":"string"},{"type":"null"}]},"applicationId":{"anyOf":[{"type":"string"},{"type":"null"}]},"status":{"type":"string"},"expiresAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokedByUserId":{"anyOf":[{"type":"string"},{"type":"null"}]},"revokeNote":{"anyOf":[{"type":"string"},{"type":"null"}]},"provisionedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"parentEntitlementId":{"anyOf":[{"type":"string"},{"type":"null"}]},"metadata":{"anyOf":[{"type":"object","properties":{"errorReason":{"type":"string"}},"additionalProperties":false},{"type":"null"}]},"user":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","firstName","lastName","email","image"],"additionalProperties":false},{"type":"null"}]},"revokedByUser":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"}},"required":["id","firstName","lastName","email","image","isBot"],"additionalProperties":false},{"type":"null"}]},"accessRequest":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"ticketId":{"type":"string"},"status":{"type":"string"},"ticket":{"anyOf":[{"type":"object","properties":{"number":{"anyOf":[{"type":"number"},{"type":"null"}]},"queue":{"type":"object","properties":{"prefix":{"type":"string"},"workspace":{"type":"object","properties":{"slug":{"type":"string"}},"required":["slug"],"additionalProperties":false}},"required":["prefix","workspace"],"additionalProperties":false}},"required":["number","queue"],"additionalProperties":false},{"type":"null"}]},"accessLevel":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]}},"required":["id","name","provisioningMethod"],"additionalProperties":false},{"type":"null"}]},"approvedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"rejectedAt":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","ticketId","status","ticket","accessLevel"],"additionalProperties":false},{"type":"null"}]},"application":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"domain":{"anyOf":[{"type":"string"},{"type":"null"}]},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","domain","imageUrl"],"additionalProperties":false},{"type":"null"}]},"userGroup":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false},{"type":"null"}]},"accessLevel":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]}},"required":["id","name","provisioningMethod"],"additionalProperties":false},{"type":"null"}]}},"required":["id","userId","status","createdAt"],"additionalProperties":false}}},"required":["entitlements"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-entitlements/ticket-provisioning-actions":{"get":{"operationId":"accessEntitlement-ticketProvisioningActions","summary":"List manual provisioning actions for a ticket","tags":["Access Entitlement"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"ticketId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"actions":{"type":"array","items":{"type":"object","properties":{"accessRequestId":{"type":"string"},"accessLevelName":{"type":"string"},"entitlementIds":{"type":"array","items":{"type":"string"}}},"required":["accessRequestId","accessLevelName","entitlementIds"],"additionalProperties":false}}},"required":["actions"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-levels":{"get":{"operationId":"accessLevel-list","summary":"List access levels","tags":["Access Level"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"applicationId","schema":{"type":"string"}},{"in":"query","name":"skip","schema":{"anyOf":[{"type":"number","minimum":1},{"type":"null"}]}},{"in":"query","name":"offset","schema":{"anyOf":[{"type":"number","minimum":0},{"type":"null"}]}},{"in":"query","name":"cursor","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"limit","schema":{"anyOf":[{"default":100,"type":"number","minimum":1,"maximum":10000},{"type":"null"}]}},{"in":"query","name":"set","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"sortBy","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"sortDirection","schema":{"anyOf":[{"type":"string","enum":["asc","desc"]},{"type":"null"}]}},{"in":"query","name":"groupBy","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"groupDirection","schema":{"anyOf":[{"type":"string","enum":["asc","desc"]},{"type":"null"}]}},{"in":"query","name":"search","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"workspaceId","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"filters","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"filterGroups","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"applicationId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"order":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"integrationUserGroupIds":{"type":"array","items":{"type":"string"}},"owners":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"ownerGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"approverIds":{"type":"array","items":{"type":"string"}},"approverGroupIds":{"type":"array","items":{"type":"string"}},"assignmentStrategy":{"anyOf":[{"type":"string","enum":["All","AutoApprove","RoundRobin"]},{"type":"null"}]},"approvalPolicy":{"anyOf":[{"type":"string","enum":["ANY","ALL","MAJORITY","THRESHOLD"]},{"type":"null"}]},"roleBasedApprovers":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"accessPolicyId":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyName":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyIcon":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyColor":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyArchivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyType":{"anyOf":[{"type":"string","enum":["standard","custom","external"]},{"type":"null"}]},"customAccessPolicy":{"anyOf":[{"type":"object","properties":{"approverMode":{"type":"string","enum":["template","explicit"]},"approvalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"approverPolicy":{"anyOf":[{"type":"string"},{"type":"null"}]},"requiresBusinessJustification":{"type":"boolean"},"durationMode":{"type":"string","enum":["none","fixed","choice"]},"defaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"durationOptions":{"type":"array","items":{"type":"string"}},"eligibleGroupIds":{"type":"array","items":{"type":"string"}},"ineligibleGroupIds":{"type":"array","items":{"type":"string"}}},"required":["approverMode","approvalTemplateId","approvers","approverPolicy","requiresBusinessJustification","durationMode","defaultDuration","durationOptions","eligibleGroupIds","ineligibleGroupIds"],"additionalProperties":false},{"type":"null"}]},"accessPolicyDurationOptions":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"accessPolicyDurationMode":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyDefaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyRequiresBusinessJustification":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"accessPolicyApprovalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyRequiresApproval":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]},"postProvisioningMessage":{"anyOf":[{"type":"string"},{"type":"null"}]},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"requestCount":{"type":"number"},"applicationName":{"type":"string"},"applicationImageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"applicationDomain":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","applicationId","name","description","order","createdAt","updatedAt","integrationUserGroupIds","owners","ownerGroups","approverIds","approverGroupIds","assignmentStrategy","approvalPolicy","roleBasedApprovers","accessPolicyId","accessPolicyName","accessPolicyIcon","accessPolicyColor","accessPolicyArchivedAt","accessPolicyType","customAccessPolicy","accessPolicyDurationOptions","accessPolicyDurationMode","accessPolicyDefaultDuration","accessPolicyRequiresBusinessJustification","accessPolicyApprovalTemplateId","accessPolicyRequiresApproval","provisioningMethod","postProvisioningMessage","archivedAt","applicationName","applicationImageUrl","applicationDomain"],"additionalProperties":false}},"totalCount":{"type":"number"},"nextCursor":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["items","totalCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}},"post":{"operationId":"accessLevel-create","summary":"Create an access level for an application","tags":["Access Level"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"applicationId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"assignmentStrategy":{"default":"AutoApprove","type":"string","enum":["All","AutoApprove","RoundRobin"]},"approvalPolicy":{"type":"string","enum":["ANY","ALL","MAJORITY","THRESHOLD"]},"owners":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},{"type":"null"}]},"approverIds":{"type":"array","items":{"type":"string"}},"approverGroupIds":{"type":"array","items":{"type":"string"}},"integrationUserGroupIds":{"type":"array","items":{"type":"string"}},"roleBasedApprovers":{"type":"array","items":{"type":"string"}},"accessPolicyId":{"anyOf":[{"type":"string"},{"type":"null"}]},"customAccessPolicy":{"type":"object","properties":{"approverMode":{"type":"string","enum":["template","explicit"]},"approvalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"approverPolicy":{"anyOf":[{"type":"string","enum":["ALL","ANY","MAJORITY"]},{"type":"null"}]},"requiresBusinessJustification":{"type":"boolean"},"durationMode":{"type":"string","enum":["none","fixed","choice"]},"defaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"durationOptions":{"type":"array","items":{"type":"string"}},"eligibleGroupIds":{"type":"array","items":{"type":"string"}},"ineligibleGroupIds":{"type":"array","items":{"type":"string"}}},"required":["approverMode","durationMode"]},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]},"postProvisioningMessage":{"anyOf":[{"type":"string"},{"type":"null"}]},"metadata":{"type":"object","propertyNames":{"type":"string"},"additionalProperties":{}}},"required":["applicationId","name"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"applicationId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"order":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"integrationUserGroupIds":{"type":"array","items":{"type":"string"}},"owners":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"ownerGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"approverIds":{"type":"array","items":{"type":"string"}},"approverGroupIds":{"type":"array","items":{"type":"string"}},"assignmentStrategy":{"anyOf":[{"type":"string","enum":["All","AutoApprove","RoundRobin"]},{"type":"null"}]},"approvalPolicy":{"anyOf":[{"type":"string","enum":["ANY","ALL","MAJORITY","THRESHOLD"]},{"type":"null"}]},"roleBasedApprovers":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"accessPolicyId":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyName":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyIcon":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyColor":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyArchivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyType":{"anyOf":[{"type":"string","enum":["standard","custom","external"]},{"type":"null"}]},"customAccessPolicy":{"anyOf":[{"type":"object","properties":{"approverMode":{"type":"string","enum":["template","explicit"]},"approvalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"approverPolicy":{"anyOf":[{"type":"string"},{"type":"null"}]},"requiresBusinessJustification":{"type":"boolean"},"durationMode":{"type":"string","enum":["none","fixed","choice"]},"defaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"durationOptions":{"type":"array","items":{"type":"string"}},"eligibleGroupIds":{"type":"array","items":{"type":"string"}},"ineligibleGroupIds":{"type":"array","items":{"type":"string"}}},"required":["approverMode","approvalTemplateId","approvers","approverPolicy","requiresBusinessJustification","durationMode","defaultDuration","durationOptions","eligibleGroupIds","ineligibleGroupIds"],"additionalProperties":false},{"type":"null"}]},"accessPolicyDurationOptions":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"accessPolicyDurationMode":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyDefaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyRequiresBusinessJustification":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"accessPolicyApprovalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyRequiresApproval":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]},"postProvisioningMessage":{"anyOf":[{"type":"string"},{"type":"null"}]},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"requestCount":{"type":"number"}},"required":["id","applicationId","name","description","order","createdAt","updatedAt","integrationUserGroupIds","owners","ownerGroups","approverIds","approverGroupIds","assignmentStrategy","approvalPolicy","roleBasedApprovers","accessPolicyId","accessPolicyName","accessPolicyIcon","accessPolicyColor","accessPolicyArchivedAt","accessPolicyType","customAccessPolicy","accessPolicyDurationOptions","accessPolicyDurationMode","accessPolicyDefaultDuration","accessPolicyRequiresBusinessJustification","accessPolicyApprovalTemplateId","accessPolicyRequiresApproval","provisioningMethod","postProvisioningMessage","archivedAt"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}},"delete":{"operationId":"accessLevel-delete","summary":"Delete an access level","tags":["Access Level"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"applicationId","schema":{"type":"string"},"required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-levels/bulk-archive":{"post":{"operationId":"accessLevel-bulkArchive","summary":"Bulk archive access levels by id","tags":["Access Level"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"ids":{"type":"array","items":{"type":"string"}},"userIds":{"type":"array","items":{"type":"string"}}},"required":["count","ids"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-levels/bulk-unarchive":{"post":{"operationId":"accessLevel-bulkUnarchive","summary":"Bulk unarchive access levels by id","tags":["Access Level"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"ids":{"type":"array","items":{"type":"string"}},"userIds":{"type":"array","items":{"type":"string"}}},"required":["count","ids"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-levels/bulk-delete":{"post":{"operationId":"accessLevel-bulkDelete","summary":"Bulk delete access levels by id","tags":["Access Level"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"ids":{"type":"array","items":{"type":"string"}},"userIds":{"type":"array","items":{"type":"string"}}},"required":["count","ids"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-levels/bulk-update":{"post":{"operationId":"accessLevel-bulkUpdate","summary":"Bulk update access levels (provisioning method or access policy)","tags":["Access Level"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"maxItems":100,"type":"array","items":{"type":"string"}},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]},"accessPolicyId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"ids":{"type":"array","items":{"type":"string"}},"userIds":{"type":"array","items":{"type":"string"}}},"required":["count","ids"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-levels/orders":{"put":{"operationId":"accessLevel-updateOrders","summary":"Update orders of access levels","tags":["Access Level"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"applicationId":{"type":"string"},"accessLevels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"order":{"type":"number"}},"required":["id","order"]}}},"required":["applicationId","accessLevels"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"applicationId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"order":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"integrationUserGroupIds":{"type":"array","items":{"type":"string"}},"owners":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"ownerGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"approverIds":{"type":"array","items":{"type":"string"}},"approverGroupIds":{"type":"array","items":{"type":"string"}},"assignmentStrategy":{"anyOf":[{"type":"string","enum":["All","AutoApprove","RoundRobin"]},{"type":"null"}]},"approvalPolicy":{"anyOf":[{"type":"string","enum":["ANY","ALL","MAJORITY","THRESHOLD"]},{"type":"null"}]},"roleBasedApprovers":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"accessPolicyId":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyName":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyIcon":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyColor":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyArchivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyType":{"anyOf":[{"type":"string","enum":["standard","custom","external"]},{"type":"null"}]},"customAccessPolicy":{"anyOf":[{"type":"object","properties":{"approverMode":{"type":"string","enum":["template","explicit"]},"approvalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"approverPolicy":{"anyOf":[{"type":"string"},{"type":"null"}]},"requiresBusinessJustification":{"type":"boolean"},"durationMode":{"type":"string","enum":["none","fixed","choice"]},"defaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"durationOptions":{"type":"array","items":{"type":"string"}},"eligibleGroupIds":{"type":"array","items":{"type":"string"}},"ineligibleGroupIds":{"type":"array","items":{"type":"string"}}},"required":["approverMode","approvalTemplateId","approvers","approverPolicy","requiresBusinessJustification","durationMode","defaultDuration","durationOptions","eligibleGroupIds","ineligibleGroupIds"],"additionalProperties":false},{"type":"null"}]},"accessPolicyDurationOptions":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"accessPolicyDurationMode":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyDefaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyRequiresBusinessJustification":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"accessPolicyApprovalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"accessPolicyRequiresApproval":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"provisioningMethod":{"type":"string","enum":["group","application","workflow","manual","external"]},"postProvisioningMessage":{"anyOf":[{"type":"string"},{"type":"null"}]},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"requestCount":{"type":"number"}},"required":["id","applicationId","name","description","order","createdAt","updatedAt","integrationUserGroupIds","owners","ownerGroups","approverIds","approverGroupIds","assignmentStrategy","approvalPolicy","roleBasedApprovers","accessPolicyId","accessPolicyName","accessPolicyIcon","accessPolicyColor","accessPolicyArchivedAt","accessPolicyType","customAccessPolicy","accessPolicyDurationOptions","accessPolicyDurationMode","accessPolicyDefaultDuration","accessPolicyRequiresBusinessJustification","accessPolicyApprovalTemplateId","accessPolicyRequiresApproval","provisioningMethod","postProvisioningMessage","archivedAt"],"additionalProperties":false}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-policies":{"get":{"operationId":"accessPolicy-list","summary":"List access policies","tags":["Access Policy"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"skip","schema":{"anyOf":[{"type":"number","minimum":1},{"type":"null"}]}},{"in":"query","name":"offset","schema":{"anyOf":[{"type":"number","minimum":0},{"type":"null"}]}},{"in":"query","name":"cursor","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"limit","schema":{"anyOf":[{"default":100,"type":"number","minimum":1,"maximum":10000},{"type":"null"}]}},{"in":"query","name":"set","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"sortBy","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"sortDirection","schema":{"anyOf":[{"type":"string","enum":["asc","desc"]},{"type":"null"}]}},{"in":"query","name":"groupBy","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"groupDirection","schema":{"anyOf":[{"type":"string","enum":["asc","desc"]},{"type":"null"}]}},{"in":"query","name":"search","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"workspaceId","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"filters","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"filterGroups","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"isDefault":{"type":"boolean"},"type":{"type":"string","enum":["standard","custom","external"]},"requiresBusinessJustification":{"type":"boolean"},"durationMode":{"type":"string","enum":["none","fixed","choice"]},"defaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"durationOptions":{"type":"array","items":{"type":"string"}},"ownerId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvalTemplate":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"organizationId":{"type":"string"},"workspaces":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false}},"rounds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"templateId":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"policy":{"type":"string"},"stageIndex":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"roleBasedApprovers":{"type":"array","items":{"type":"string"}},"approvers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"}},"required":["id","firstName","lastName","email","image","isBot"],"additionalProperties":false}},"approverGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","imageUrl","icon","color","emoji"],"additionalProperties":false}},"filterGroups":{"anyOf":[{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"field":{"anyOf":[{"anyOf":[{"anyOf":[{"type":"string"},{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]}]},{"type":"array","items":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]},{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]}}]}}]},{"type":"null"}]},"condition":{"type":"string","enum":["equals","not_equals","contains","not_contains","gt","gte","lt","lte","in","not_in","null","not_null","is_null","is_not_null","is_empty_string","is_not_empty_string","none","some","between","within","member_of","not_member_of","j_equals","j_not_equals","j_in","j_not_in","j_array_contains","j_string_contains","j_null","j_not_null","j_gt","j_gte","j_lt","j_lte","j_between"]},"value":{"anyOf":[{"anyOf":[{"anyOf":[{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]},{"type":"string"}]},{"type":"array","items":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]},{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]}}]}}]},{"type":"null"}]}},"required":["condition"],"additionalProperties":{}}}},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","templateId","name","policy","stageIndex","roleBasedApprovers","approvers","approverGroups","createdAt","updatedAt"],"additionalProperties":false}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","organizationId","workspaces","rounds","createdAt","updatedAt"],"additionalProperties":false},{"type":"null"}]},"approverMode":{"type":"string","enum":["template","explicit"]},"approverPolicy":{"anyOf":[{"type":"string"},{"type":"null"}]},"roleBasedApprovers":{"type":"array","items":{"type":"string"}},"approvers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"}},"required":["id","firstName","lastName","email","image","isBot"],"additionalProperties":false}},"approverGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","imageUrl","icon","color","emoji"],"additionalProperties":false}},"organizationId":{"type":"string"},"eligibleGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"integrationGroup":{"anyOf":[{"type":"object","properties":{"integration":{"anyOf":[{"type":"object","properties":{"app":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["app"],"additionalProperties":false},{"type":"null"}]}},"required":["integration"],"additionalProperties":false},{"type":"null"}]}},"required":["id","name","imageUrl","icon","color","emoji","archivedAt","integrationGroup"],"additionalProperties":false}},"ineligibleGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"integrationGroup":{"anyOf":[{"type":"object","properties":{"integration":{"anyOf":[{"type":"object","properties":{"app":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["app"],"additionalProperties":false},{"type":"null"}]}},"required":["integration"],"additionalProperties":false},{"type":"null"}]}},"required":["id","name","imageUrl","icon","color","emoji","archivedAt","integrationGroup"],"additionalProperties":false}},"accessLevels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"order":{"type":"number"},"applicationId":{"type":"string"},"owners":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"ownerGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"accessPolicyId":{"anyOf":[{"type":"string"},{"type":"null"}]},"postProvisioningMessage":{"anyOf":[{"type":"string"},{"type":"null"}]},"assignmentStrategy":{"anyOf":[{"type":"string"},{"type":"null"}]},"provisioningMethod":{"anyOf":[{"type":"string"},{"type":"null"}]},"integrationUserGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"application":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"domain":{"anyOf":[{"type":"string"},{"type":"null"}]},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","domain","imageUrl"],"additionalProperties":false}},"required":["id","name","description","order","applicationId","owners","ownerGroups","accessPolicyId","postProvisioningMessage","assignmentStrategy","provisioningMethod","integrationUserGroups","application"],"additionalProperties":false}},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","icon","color","isDefault","type","requiresBusinessJustification","durationMode","defaultDuration","durationOptions","ownerId","approvalTemplateId","approvalTemplate","approverMode","approverPolicy","roleBasedApprovers","approvers","approverGroups","organizationId","eligibleGroups","ineligibleGroups","accessLevels","archivedAt","createdAt","updatedAt"],"additionalProperties":false}},"totalCount":{"type":"number"},"nextCursor":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["items","totalCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}},"post":{"operationId":"accessPolicy-create","summary":"Create an access policy","tags":["Access Policy"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"ownerId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approverMode":{"type":"string","enum":["template","explicit"]},"approvers":{"default":[],"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}},"approverPolicy":{"anyOf":[{"type":"string","enum":["ALL","ANY","MAJORITY"]},{"type":"null"}]},"requiresBusinessJustification":{"default":false,"type":"boolean"},"durationMode":{"type":"string","enum":["none","fixed","choice"]},"defaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"durationOptions":{"default":[],"type":"array","items":{"type":"string"}},"eligibleGroupIds":{"default":[],"type":"array","items":{"type":"string"}},"ineligibleGroupIds":{"default":[],"type":"array","items":{"type":"string"}},"accessLevelIds":{"default":[],"type":"array","items":{"type":"string"}}},"required":["name"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"isDefault":{"type":"boolean"},"type":{"type":"string","enum":["standard","custom","external"]},"requiresBusinessJustification":{"type":"boolean"},"durationMode":{"type":"string","enum":["none","fixed","choice"]},"defaultDuration":{"anyOf":[{"type":"string"},{"type":"null"}]},"durationOptions":{"type":"array","items":{"type":"string"}},"ownerId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvalTemplateId":{"anyOf":[{"type":"string"},{"type":"null"}]},"approvalTemplate":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"organizationId":{"type":"string"},"workspaces":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false}},"rounds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"templateId":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"policy":{"type":"string"},"stageIndex":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"roleBasedApprovers":{"type":"array","items":{"type":"string"}},"approvers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"}},"required":["id","firstName","lastName","email","image","isBot"],"additionalProperties":false}},"approverGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","imageUrl","icon","color","emoji"],"additionalProperties":false}},"filterGroups":{"anyOf":[{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"field":{"anyOf":[{"anyOf":[{"anyOf":[{"type":"string"},{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]}]},{"type":"array","items":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]},{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]}}]}}]},{"type":"null"}]},"condition":{"type":"string","enum":["equals","not_equals","contains","not_contains","gt","gte","lt","lte","in","not_in","null","not_null","is_null","is_not_null","is_empty_string","is_not_empty_string","none","some","between","within","member_of","not_member_of","j_equals","j_not_equals","j_in","j_not_in","j_array_contains","j_string_contains","j_null","j_not_null","j_gt","j_gte","j_lt","j_lte","j_between"]},"value":{"anyOf":[{"anyOf":[{"anyOf":[{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]},{"type":"string"}]},{"type":"array","items":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]},{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"string"}]}}]}}]},{"type":"null"}]}},"required":["condition"],"additionalProperties":{}}}},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","templateId","name","policy","stageIndex","roleBasedApprovers","approvers","approverGroups","createdAt","updatedAt"],"additionalProperties":false}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","organizationId","workspaces","rounds","createdAt","updatedAt"],"additionalProperties":false},{"type":"null"}]},"approverMode":{"type":"string","enum":["template","explicit"]},"approverPolicy":{"anyOf":[{"type":"string"},{"type":"null"}]},"roleBasedApprovers":{"type":"array","items":{"type":"string"}},"approvers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"}},"required":["id","firstName","lastName","email","image","isBot"],"additionalProperties":false}},"approverGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","imageUrl","icon","color","emoji"],"additionalProperties":false}},"organizationId":{"type":"string"},"eligibleGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"integrationGroup":{"anyOf":[{"type":"object","properties":{"integration":{"anyOf":[{"type":"object","properties":{"app":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["app"],"additionalProperties":false},{"type":"null"}]}},"required":["integration"],"additionalProperties":false},{"type":"null"}]}},"required":["id","name","imageUrl","icon","color","emoji","archivedAt","integrationGroup"],"additionalProperties":false}},"ineligibleGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"integrationGroup":{"anyOf":[{"type":"object","properties":{"integration":{"anyOf":[{"type":"object","properties":{"app":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["app"],"additionalProperties":false},{"type":"null"}]}},"required":["integration"],"additionalProperties":false},{"type":"null"}]}},"required":["id","name","imageUrl","icon","color","emoji","archivedAt","integrationGroup"],"additionalProperties":false}},"accessLevels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"order":{"type":"number"},"applicationId":{"type":"string"},"owners":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"ownerGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"accessPolicyId":{"anyOf":[{"type":"string"},{"type":"null"}]},"postProvisioningMessage":{"anyOf":[{"type":"string"},{"type":"null"}]},"assignmentStrategy":{"anyOf":[{"type":"string"},{"type":"null"}]},"provisioningMethod":{"anyOf":[{"type":"string"},{"type":"null"}]},"integrationUserGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}},"application":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"domain":{"anyOf":[{"type":"string"},{"type":"null"}]},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","domain","imageUrl"],"additionalProperties":false}},"required":["id","name","description","order","applicationId","owners","ownerGroups","accessPolicyId","postProvisioningMessage","assignmentStrategy","provisioningMethod","integrationUserGroups","application"],"additionalProperties":false}},"archivedAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","icon","color","isDefault","type","requiresBusinessJustification","durationMode","defaultDuration","durationOptions","ownerId","approvalTemplateId","approvalTemplate","approverMode","approverPolicy","roleBasedApprovers","approvers","approverGroups","organizationId","eligibleGroups","ineligibleGroups","accessLevels","archivedAt","createdAt","updatedAt"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-policies/bulk":{"delete":{"operationId":"accessPolicy-bulkDelete","summary":"Bulk delete access policies","tags":["Access Policy"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"ids","schema":{"minItems":1,"maxItems":100,"type":"array","items":{"type":"string"}},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"ids":{"type":"array","items":{"type":"string"}},"userIds":{"type":"array","items":{"type":"string"}}},"required":["count","ids"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-policies/bulk-archive":{"post":{"operationId":"accessPolicy-bulkArchive","summary":"Bulk archive access policies","tags":["Access Policy"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"ids":{"type":"array","items":{"type":"string"}},"userIds":{"type":"array","items":{"type":"string"}}},"required":["count","ids"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-policies/bulk-unarchive":{"post":{"operationId":"accessPolicy-bulkUnarchive","summary":"Bulk unarchive access policies","tags":["Access Policy"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"minItems":1,"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"ids":{"type":"array","items":{"type":"string"}},"userIds":{"type":"array","items":{"type":"string"}}},"required":["count","ids"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-policies/validate":{"post":{"operationId":"accessPolicy-validateAccessLevelEligibility","summary":"Validate user eligibility for an access level","tags":["Access Policy"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"type":"string"},"accessPolicyId":{"type":"string"},"accessLevelId":{"type":"string"}},"required":["userId","accessPolicyId","accessLevelId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"eligible":{"type":"boolean"}},"required":["eligible"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-policies/eligible-access-levels":{"get":{"operationId":"accessPolicy-listEligibleAccessLevels","summary":"List eligible access levels for a user","tags":["Access Policy"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"userId","schema":{"type":"string"},"required":true},{"in":"query","name":"workspaceId","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"applicationId":{"type":"string"}},"required":["id","name","description","applicationId"],"additionalProperties":false}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-policies/eligible-applications":{"get":{"operationId":"accessPolicy-listEligibleApplications","summary":"List eligible applications for a user","tags":["Access Policy"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"userId","schema":{"type":"string"},"required":true},{"in":"query","name":"workspaceId","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"displayName":{"anyOf":[{"type":"string"},{"type":"null"}]},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"organizationId":{"type":"string"},"accessLevels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"applicationId":{"type":"string"}},"required":["id","name","description","applicationId"],"additionalProperties":false}}},"required":["id","name","displayName","imageUrl","organizationId","accessLevels"],"additionalProperties":false}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/access-request":{"post":{"operationId":"accessRequest-create","summary":"Create an access request","tags":["access-request"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"workspaceId":{"description":"The workspace that the user is requesting access to","type":"string"},"application":{"description":"The application that the user is requesting access to, id or name is required","type":"object","properties":{"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string","minLength":3},{"type":"null"}]}}},"accessLevel":{"description":"The access level that the user is requesting access to, id or name is required","type":"object","properties":{"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string","minLength":3},{"type":"null"}]}}},"formId":{"description":"The form id to use for the access request.","type":"string"},"requester":{"description":"The requester of the access request, id or name is required","type":"object","properties":{"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"object","properties":{"first":{"anyOf":[{"type":"string","minLength":3},{"type":"null"}]},"last":{"anyOf":[{"type":"string"},{"type":"null"}]}}},{"type":"null"}]}}},"duration":{"description":"The duration of the access request, e.g. 1d, 1w, 1m, 1y. The duration should be supported by the access level","default":"1d","anyOf":[{"type":"string"},{"type":"null"}]},"reason":{"description":"The reason for the access request","type":"string"}},"required":["workspaceId","application","accessLevel","requester"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"order":{"type":"number"},"system":{"type":"boolean"},"statusGroupId":{"type":"string"},"statusGroup":{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"order":{"type":"number"},"workspaceId":{"type":"string"}},"required":["id","label","order","workspaceId"],"additionalProperties":false},"requestTypes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"requestTypeId":{"type":"string"},"order":{"type":"number"}},"required":["id","requestTypeId","order"],"additionalProperties":false}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","label","order","system","statusGroupId","statusGroup","requestTypes","createdAt","updatedAt"],"additionalProperties":false},{"type":"null"}]},"requester":{"anyOf":[{"type":"object","properties":{"userGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}}},"required":["userGroups"],"additionalProperties":false},{"type":"null"}]},"shortId":{"type":"string"},"queueId":{"type":"string"}},"required":["id","status","requester","shortId","queueId"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/agents":{"get":{"operationId":"agentModel-list","summary":"List agents","tags":["Agents"],"security":[{"Authorization":[]}],"parameters":[{"in":"query","name":"search","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"workspaceId","schema":{"type":"string"}},{"in":"query","name":"sortBy","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"sortDirection","schema":{"anyOf":[{"type":"string","enum":["asc","desc"]},{"type":"null"}]}},{"in":"query","name":"filters","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"in":"query","name":"filterGroups","schema":{"anyOf":[{"type":"string"},{"type":"null"}]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"customPrompt":{"anyOf":[{"type":"string"},{"type":"null"}]},"escalationInstructions":{"anyOf":[{"type":"string"},{"type":"null"}]},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"workspaceId":{"type":"string"},"personalityId":{"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"},"version":{"type":"number"},"respondOnMessage":{"type":"string"},"respondOnMention":{"type":"boolean"},"onlyRespondToRequests":{"type":"boolean"},"channelMessageBehavior":{"type":"string"},"threadedMessageBehavior":{"type":"string"},"autoClassify":{"type":"boolean"},"autoTag":{"type":"boolean"},"negativeFeedbackAutoCreate":{"type":"boolean"},"autoEscalate":{"type":"boolean"},"respondOnPublishedTickets":{"type":"boolean"},"aiAutoRespondEmail":{"type":"boolean"},"aiAutoRespondIntegration":{"type":"boolean"},"aiAutoRespondDelay":{"type":"number"},"autoSubmitForm":{"type":"boolean"},"conversationalFormFilling":{"type":"boolean"},"conversationalFormFillingThreshold":{"type":"number"},"showSlackSource":{"type":"boolean"},"showSlackFeedback":{"type":"boolean"},"showSlackCreateTicketButton":{"type":"boolean"},"settings":{"anyOf":[{"type":"object","properties":{"maxIterations":{"type":"number","minimum":1,"maximum":50},"autoSubmitForm":{"type":"boolean"},"conversationalFormFilling":{"type":"boolean"},"conversationalFormFillingThreshold":{"type":"integer","minimum":1,"maximum":20},"conditionalFields":{"type":"boolean"},"softwareAccessRequestsEnabled":{"type":"boolean"},"respondToBotUsers":{"type":"boolean"}},"additionalProperties":false},{"type":"null"}]},"tools":{"type":"array","items":{"type":"string"}},"botUserId":{"anyOf":[{"type":"string"},{"type":"null"}]},"botUser":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"emailVerified":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultWorkspaceId":{"anyOf":[{"type":"string"},{"type":"null"}]},"isGuestCreated":{"type":"boolean"},"isBot":{"type":"boolean"},"createdAt":{"type":"string"},"auth0Id":{"anyOf":[{"type":"string"},{"type":"null"}]},"updatedAt":{"type":"string"},"slackUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"slackUserId":{"type":"string"},"slackTeamId":{"type":"string"},"slackAppId":{"type":"string"},"slackImageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"slackRealName":{"anyOf":[{"type":"string"},{"type":"null"}]},"slackDisplayName":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"},"isConnected":{"type":"boolean"},"userGrantedScopes":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"slackApp":{"type":"object","properties":{"appId":{"type":"string"},"teamName":{"type":"string"}},"required":["appId","teamName"],"additionalProperties":false}},"required":["id","slackUserId","slackTeamId","slackAppId","slackImageUrl","slackRealName","slackDisplayName","isBot","userGrantedScopes","createdAt","updatedAt","slackApp"],"additionalProperties":false}},"outOfOffice":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"delegateType":{"anyOf":[{"type":"string","enum":["manager","user"]},{"type":"null"}]},"delegateUserId":{"anyOf":[{"type":"string"},{"type":"null"}]},"activityStatus":{"anyOf":[{"type":"string","enum":["active","out_of_office"]},{"type":"null"}]},"activityStatusSource":{"anyOf":[{"type":"string","enum":["manual","slack_sync"]},{"type":"null"}]}},"required":["id","delegateType","delegateUserId","activityStatus","activityStatusSource"],"additionalProperties":false},{"type":"null"}]}},"required":["id","firstName","lastName","email","image","emailVerified","defaultWorkspaceId","isGuestCreated","isBot","createdAt","auth0Id","updatedAt","slackUsers"],"additionalProperties":false},{"type":"null"}]},"workspace":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"}},"required":["id","slug","name"],"additionalProperties":false},"personality":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"workspaceId":{"type":"string"},"persona":{"anyOf":[{"type":"string"},{"type":"null"}]},"tone":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"length":{"anyOf":[{"type":"string"},{"type":"null"}]},"greeting":{"anyOf":[{"type":"string"},{"type":"null"}]},"branding":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","workspaceId","persona","tone","emoji","length","greeting","branding","createdAt","updatedAt"],"additionalProperties":false},{"type":"null"}]},"queues":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"emoji":{"type":"string"},"system":{"type":"boolean"},"requestTypes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"type":"string"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","emoji","color","description","icon"],"additionalProperties":false}}},"required":["id","name","prefix","emoji","system","requestTypes"],"additionalProperties":false}},"kBs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"system":{"type":"boolean"},"lastSyncTS":{"anyOf":[{"type":"integer","format":"int64"},{"type":"null"}]},"global":{"type":"boolean"},"_count":{"type":"object","properties":{"kBDocuments":{"type":"number"}},"required":["kBDocuments"],"additionalProperties":false}},"required":["id","name","system","lastSyncTS","global","_count"],"additionalProperties":false}},"requestTypes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"type":"string"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"aiExamples":{"anyOf":[{"type":"string"},{"type":"null"}]},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"order":{"type":"number"},"private":{"type":"boolean"},"required":{"type":"boolean"},"ticketField":{"anyOf":[{"type":"string","enum":["TITLE","DESCRIPTION","STATUS","PRIORITY","TYPE","REQUESTER","ASSIGNEE","APPROVERS","FOLLOWERS","DUE_DATE"]},{"type":"null"}]},"requestTypeId":{"type":"string"},"customFieldId":{"type":"string"},"customField":{"type":"object","properties":{"id":{"type":"string"},"workspaceId":{"type":"string"},"key":{"type":"string"},"label":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"required":{"type":"boolean"},"system":{"type":"boolean"},"type":{"type":"string","enum":["TEXT","TEXT_AREA","NUMBER","DATE","TIME","DATETIME","BOOLEAN","SELECT","FILE_PICKER","MULTI_SELECT","USER_SELECT","USER_MULTI_SELECT","TAG_SELECT","STATUS_SELECT","USER_GROUP_SELECT","USER_GROUP_MULTI_SELECT","PRIORITY_SELECT","TICKET_TYPE_SELECT","APPLICATION_SELECT","APPLICATION_MULTI_SELECT","APPLICATION_GROUP_SELECT","ACCESS_LEVEL_SELECT","DURATION","BUSINESS_JUSTIFICATION","TIMEZONE_SELECT","HEADING","DIVIDER","TEXT_BLOCK","ASSET_SELECT","ASSET_TYPE_SELECT"]},"config":{},"options":{"type":"array","items":{}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"_count":{"type":"object","properties":{"requestTypeCustomField":{"type":"number"}},"required":["requestTypeCustomField"],"additionalProperties":false}},"required":["id","workspaceId","key","label","description","required","system","type","config","options","createdAt","updatedAt","_count"],"additionalProperties":false},"parentId":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","order","private","required","ticketField","requestTypeId","customFieldId","customField","parentId","createdAt","updatedAt"],"additionalProperties":false}}},"required":["id","name","emoji","color","description","icon","aiExamples","customFields"],"additionalProperties":false}},"workflows":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"state":{"type":"string"}},"required":["id","name","description","state"],"additionalProperties":false}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"deletedAt":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","description","customPrompt","escalationInstructions","imageUrl","workspaceId","personalityId","enabled","version","respondOnMessage","respondOnMention","onlyRespondToRequests","channelMessageBehavior","threadedMessageBehavior","autoClassify","autoTag","negativeFeedbackAutoCreate","autoEscalate","respondOnPublishedTickets","aiAutoRespondEmail","aiAutoRespondIntegration","aiAutoRespondDelay","autoSubmitForm","conversationalFormFilling","conversationalFormFillingThreshold","showSlackSource","showSlackFeedback","showSlackCreateTicketButton","settings","tools","botUserId","botUser","workspace","personality","queues","kBs","requestTypes","workflows","createdAt","updatedAt","deletedAt"],"additionalProperties":false}}},"required":["items"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}},"post":{"operationId":"agentModel-create","summary":"Create a new Agent","tags":["Agents"],"security":[{"Authorization":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","minLength":1},"description":{"type":"string"},"customPrompt":{"type":"string"},"escalationInstructions":{"type":"string"},"imageUrl":{"type":"string","format":"uri"},"personalityId":{"type":"string"},"enabled":{"default":true,"type":"boolean"},"respondOnMessage":{"default":"all-messages","type":"string","enum":["all-messages","channel-messages","no-messages"]},"respondOnMention":{"default":false,"type":"boolean"},"onlyRespondToRequests":{"default":false,"type":"boolean"},"channelMessageBehavior":{"default":"all","type":"string","enum":["all","requests","mentions"]},"threadedMessageBehavior":{"type":"string","enum":["all","mentions","smart"]},"autoClassify":{"default":false,"type":"boolean"},"autoTag":{"default":false,"type":"boolean"},"negativeFeedbackAutoCreate":{"default":true,"type":"boolean"},"autoEscalate":{"default":false,"type":"boolean"},"respondOnPublishedTickets":{"default":false,"type":"boolean"},"aiAutoRespondEmail":{"default":false,"type":"boolean"},"aiAutoRespondIntegration":{"default":false,"type":"boolean"},"aiAutoRespondDelay":{"default":0,"type":"integer","minimum":0,"maximum":300},"autoSubmitForm":{"default":true,"type":"boolean"},"conversationalFormFilling":{"default":false,"type":"boolean"},"conversationalFormFillingThreshold":{"default":10,"type":"integer","minimum":1,"maximum":20},"tools":{"type":"array","items":{"type":"string"}},"queueIds":{"type":"array","items":{"type":"string"}},"kbIds":{"type":"array","items":{"type":"string"}},"requestTypeIds":{"type":"array","items":{"type":"string"}}},"required":["name"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"customPrompt":{"anyOf":[{"type":"string"},{"type":"null"}]},"escalationInstructions":{"anyOf":[{"type":"string"},{"type":"null"}]},"imageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"workspaceId":{"type":"string"},"personalityId":{"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"},"version":{"type":"number"},"respondOnMessage":{"type":"string"},"respondOnMention":{"type":"boolean"},"onlyRespondToRequests":{"type":"boolean"},"channelMessageBehavior":{"type":"string"},"threadedMessageBehavior":{"type":"string"},"autoClassify":{"type":"boolean"},"autoTag":{"type":"boolean"},"negativeFeedbackAutoCreate":{"type":"boolean"},"autoEscalate":{"type":"boolean"},"respondOnPublishedTickets":{"type":"boolean"},"aiAutoRespondEmail":{"type":"boolean"},"aiAutoRespondIntegration":{"type":"boolean"},"aiAutoRespondDelay":{"type":"number"},"autoSubmitForm":{"type":"boolean"},"conversationalFormFilling":{"type":"boolean"},"conversationalFormFillingThreshold":{"type":"number"},"showSlackSource":{"type":"boolean"},"showSlackFeedback":{"type":"boolean"},"showSlackCreateTicketButton":{"type":"boolean"},"settings":{"anyOf":[{"type":"object","properties":{"maxIterations":{"type":"number","minimum":1,"maximum":50},"autoSubmitForm":{"type":"boolean"},"conversationalFormFilling":{"type":"boolean"},"conversationalFormFillingThreshold":{"type":"integer","minimum":1,"maximum":20},"conditionalFields":{"type":"boolean"},"softwareAccessRequestsEnabled":{"type":"boolean"},"respondToBotUsers":{"type":"boolean"}},"additionalProperties":false},{"type":"null"}]},"tools":{"type":"array","items":{"type":"string"}},"botUserId":{"anyOf":[{"type":"string"},{"type":"null"}]},"botUser":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}]},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"emailVerified":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultWorkspaceId":{"anyOf":[{"type":"string"},{"type":"null"}]},"isGuestCreated":{"type":"boolean"},"isBot":{"type":"boolean"},"createdAt":{"type":"string"},"auth0Id":{"anyOf":[{"type":"string"},{"type":"null"}]},"updatedAt":{"type":"string"},"slackUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"slackUserId":{"type":"string"},"slackTeamId":{"type":"string"},"slackAppId":{"type":"string"},"slackImageUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"slackRealName":{"anyOf":[{"type":"string"},{"type":"null"}]},"slackDisplayName":{"anyOf":[{"type":"string"},{"type":"null"}]},"isBot":{"type":"boolean"},"isConnected":{"type":"boolean"},"userGrantedScopes":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"slackApp":{"type":"object","properties":{"appId":{"type":"string"},"teamName":{"type":"string"}},"required":["appId","teamName"],"additionalProperties":false}},"required":["id","slackUserId","slackTeamId","slackAppId","slackImageUrl","slackRealName","slackDisplayName","isBot","userGrantedScopes","createdAt","updatedAt","slackApp"],"additionalProperties":false}},"outOfOffice":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"delegateType":{"anyOf":[{"type":"string","enum":["manager","user"]},{"type":"null"}]},"delegateUserId":{"anyOf":[{"type":"string"},{"type":"null"}]},"activityStatus":{"anyOf":[{"type":"string","enum":["active","out_of_office"]},{"type":"null"}]},"activityStatusSource":{"anyOf":[{"type":"string","enum":["manual","slack_sync"]},{"type":"null"}]}},"required":["id","delegateType","delegateUserId","activityStatus","activityStatusSource"],"additionalProperties":false},{"type":"null"}]}},"required":["id","firstName","lastName","email","image","emailVerified","defaultWorkspaceId","isGuestCreated","isBot","createdAt","auth0Id","updatedAt","slackUsers"],"additionalProperties":false},{"type":"null"}]},"workspace":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"}},"required":["id","slug","name"],"additionalProperties":false},"personality":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"workspaceId":{"type":"string"},"persona":{"anyOf":[{"type":"string"},{"type":"null"}]},"tone":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"length":{"anyOf":[{"type":"string"},{"type":"null"}]},"greeting":{"anyOf":[{"type":"string"},{"type":"null"}]},"branding":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","workspaceId","persona","tone","emoji","length","greeting","branding","createdAt","updatedAt"],"additionalProperties":false},{"type":"null"}]},"queues":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"emoji":{"type":"string"},"system":{"type":"boolean"},"requestTypes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"color":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"type":"string"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","emoji","color","description","icon"],"additionalProperties":false}}},"required":["id","name","prefix","emoji","system","requestTypes"],"additionalProperties":false}},"kBs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"system":{"type":"boolean"},"lastSyncTS":{"anyOf":[{"type":"integer","format":"int64"},{"type":"null"}]},"global":{"type":"boolean"},"_count":{"type":"object","properties":{"kBDocuments":{"
[...]
